/* 기본 박스 사이징 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본 margin 제거 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 기본 높이 */
html,
body {
  height: 100%;
}

/* 기본 폰트 부트스트랩 */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 이미지 기본값 */
img {
  max-width: 100%;
  display: block;
}

/* 인풋/버튼 폰트 상속 */
input,
button,
textarea,
select {
  font: inherit;
}

/* UL, OL 스타일 제거 */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 링크 기본값 */
a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
}
